@import "../gtk-common/common.css";



* {
  padding: 0;
  -GtkToolButton-icon-spacing: 4;
  -GtkTextView-error-underline-color: @error_color_breeze;
  -GtkScrolledWindow-scrollbar-spacing: 0;
  -GtkToolItemGroup-expander-size: 11;
  -GtkWidget-text-handle-width: 20;
  -GtkWidget-text-handle-height: 24;
  -GtkDialog-button-spacing: 4;
  -GtkDialog-action-area-border: 0;
  outline-color: alpha(currentColor,0.4);
  outline-style: dashed;
  outline-offset: -3px;
  outline-width: 1px;
  -gtk-outline-radius: 2px;
  -gtk-secondary-caret-color: @theme_selected_bg_color_breeze; }

/***************
 * Base States *
 ***************/

*:disabled {
  -gtk-icon-effect: dim; }




/****************
 * Text Entries *
 ****************/



/***********
 * Buttons *
 ***********/
@keyframes needs_attention {
  from {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.01, to(@theme_selected_bg_color_breeze), to(transparent)); }
  to {
    background-image: -gtk-gradient(radial, center center, 0, center center, 0.5, to(@theme_selected_bg_color_breeze), to(transparent)); } }


notebook > header > tabs > arrow:hover,
  button:hover {
    -gtk-icon-effect: highlight;
  }

 

button.circular {
    -gtk-outline-radius: 9999px;
  }



/************
 * Toolbars *
 ************/
toolbar, .inline-toolbar, searchbar,
.location-bar {
  -GtkWidget-window-dragging: true;
  }


/***************
 * Header bars *
 ***************/

  

/*window.csd > .titlebar:not(headerbar) {
  padding: 0;
  background-color: transparent;
  background-image: none;
  border-style: none;
  border-color: transparent;
  box-shadow: none; }*/




/**************
 * Tree Views *
 **************/

  * {
    -GtkTreeView-horizontal-separator: 4;
    -GtkTreeView-grid-line-width: 1;
    -GtkTreeView-grid-line-pattern: '';
    -GtkTreeView-tree-line-width: 1;
    -GtkTreeView-tree-line-pattern: '';
    -GtkTreeView-expander-size: 16; }


/*********
 * Menus *
 *********/
menubar,
.menubar {
  -GtkWidget-window-dragging: true;
  }
 


/**************
 * Scrollbars *
 **************/

  * {
    -GtkScrollbar-has-backward-stepper: true;
    -GtkScrollbar-has-forward-stepper: true; }

  

/**********
 * Switch *
 **********/

  switch:focus slider {
    
    -gtk-outline-radius: 100%; }
  

/************
 * GtkScale and some common progressbar parts*
 ************/

  scale.fine-tune fill,
  scale.fine-tune highlight,
  scale.fine-tune trough {
    -gtk-outline-radius: 7px; }
  scale trough {
     -gtk-outline-radius: 5px;
    padding: 0px; }


/**********
 * Frames *
 **********/

/* should overshoots be as in the original? scrolledwindow overshoot.top {...etc}?*/




/***********
 * Dialogs *
 ***********/

  messagedialog.csd .dialog-action-area button:first-child {
    
    -gtk-outline-bottom-left-radius: 1px; }

  messagedialog.csd .dialog-action-area button:last-child {
    
    -gtk-outline-bottom-right-radius: 1px; }


/****************
 * File chooser *
 ****************/

  button.sidebar-button {
    
    -gtk-outline-radius: 100%; }




/********
 * Misc *
 ********/

  .content-view:hover {
    -gtk-icon-effect: highlight; }


/**********************
 * Window Decorations *
 *********************/
decoration {
  border-radius: 5px 5px 0px 0px;
  border-width: 0px;
  box-shadow:
        0px 0px 15px 8px alpha(@selected_bg, 0.7),
        0px 0px 03px 3px alpha(shade(@selected_bg, 1.3), 0.7),
        0px 7px 19px -7px transparent,
  		0px 5px 10px -3px transparent,
  		0px 0px 0px 1px transparent;
  margin: 10px; }
  decoration:backdrop {
    box-shadow:
            0px 0px 15px 8px transparent,
            0px 0px 03px 3px transparent,
            0px 7px 19px -7px alpha(black, 0.2),
    		0px 5px 10px -3px alpha(black, 0.6),
    		0px 0px 0px 1px alpha(black, 0.2);
    transition: 80ms ease-out; }
  .maximized decoration,
  .fullscreen decoration,
  .tiled decoration,
  .tiled-top decoration,
  .tiled-right decoration,
  .tiled-bottom decoration,
  .tiled-left decoration {
    border-radius: 0; }
  .popup decoration {
    box-shadow: 0 4px 8px -4px alpha(black, 0.23); }
  .ssd decoration {
    box-shadow: 0 4px 8px -4px alpha(black, 0.23); }
  .csd.popup decoration {
    /*border-radius: 0;*/
    box-shadow: 0px 0px 12px 0px alpha(black, 0.1), 0px 0px 4px 0px alpha(black, 0.4), 0px 0px 0px 1px alpha(black, 0.1); }
  tooltip.csd decoration {
    /*border-radius: 5px;*/
    box-shadow: 0 4px 8px -4px alpha(black, 0.23); }
  messagedialog.csd decoration {
    border-radius: 5px;
    box-shadow: 0px 0px 12px 0px alpha(black, 0.1), 0px 0px 4px 0px alpha(black, 0.4), 0px 0px 0px 1px alpha(black, 0.1); }
  .solid-csd decoration {
    margin: 0;
    padding: 4px;
    background-color: @borders;
    border: solid 1px @borders;
    border-radius: 0;
    box-shadow: inset 0 0 0 3px @text_widget_bg, inset 0 1px @highlight_color; }
    .solid-csd decoration:backdrop {
      box-shadow: inset 0 0 0 3px @text_widget_bg, inset 0 1px @highlight_color; }

/*.background.csd {
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px; }*/

button.titlebutton {
  /*text-shadow: 0 1px alpha(white, 0.769231);
  -gtk-icon-shadow: 0 1px alpha(@text_shadow_color, 0.769231); */}
  button.titlebutton:backdrop {
    -gtk-icon-shadow: none; }

headerbar.selection-mode button.titlebutton,
.titlebar.selection-mode button.titlebutton {
  /*text-shadow: 0 1px alpha(black, 0.428024);
  -gtk-icon-shadow: 0 1px alpha(black, 0.428024);*/ }
  headerbar.selection-mode button.titlebutton:backdrop,
  .titlebar.selection-mode button.titlebutton:backdrop {
    -gtk-icon-shadow: none; }

